html {
    scroll-behavior: smooth;
}

#pagination {
    height: 50px; /* Set an appropriate height */
}


.hidden_tfoot{
 display: none;
}

.user_profile{
    text-transform:capitalize;
    color: black;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 50px;
}
.hidden-on-load {
    display: none;
}