.capitalize-first-letter::first-letter {
    text-transform: uppercase;
}

.hide{
    display: none;
}

.user_profile{
    text-transform:capitalize;
    color: black;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 50px;
}


.disable{
    pointer-events:none;   
}


.premium_btn{
    color: black;
    background-color: white;
    border: none;

}



.hidden-on-load {
    display: none;
}


.modal-body {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 85vh; /* Max height for the modal body */
    overflow: hidden; 
}

#modalContent {
    width: 100%;
    height: 90%;
    position: relative; /* For positioning of content */
}

/* Styles for images */
.modal-body img {
    max-width: 90%; /* Responsive width */
    max-height: 80%; /* Responsive height */
    object-fit: contain; /* Maintain aspect ratio */
}

/* Styles for PDF iframe */
.modal-body iframe {
    width: 90%;
    height: 90%; /* Full height of the modal */
    border: none; /* No border */
}

.modal-content {
    border-radius: 10px; /* Round corners */
}

.modal-header {
    border-bottom: 1px solid #dee2e6; /* Subtle border */
}

.modal-title {
    font-weight: bold; /* Bold title */
}

.btn-primary {
    background-color: #007bff; /* Custom primary color */
    border-color: #007bff; /* Custom border color */
}

.btn-danger {
    background-color: #dc3545; /* Custom danger color */
    border-color: #dc3545; /* Custom border color */
}